# IDE
.idea/
*.iml

# Env / secrets
.env
*.env
infra/.env

# Backups / temp
*.bak
*.tmp
*.log

# Specific big dump
infra/oracle/migrations/V1__export.sql

# EXPO 

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

# generated native folders
/ios
/android
/web

#.vscode
.vscode/

# Excalidraw
Excalidraw/

infra/oracle/dumps/*.DMP
!infra/oracle/dumps/data.DMP
